In [18]:
import pandas as pd

bike_trips = pd.read_csv('../Data/BlueBikesData/trips_data_2023.csv', index_col = 0)
temp_data = pd.read_csv('../Data/WeatherData/average_temp.csv', index_col = 'Day')

# Convert 'started_at' column to datetime
bike_trips['started_at'] = pd.to_datetime(bike_trips['started_at'])

# Extract just the date
bike_trips['date'] = bike_trips['started_at'].dt.date

bike_trips['date'] = pd.to_datetime(bike_trips['date'])

bike_trips

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,season,trip_distance,date
0,0093AA5E7E3E0158,docked_bike,2023-04-13 13:49:59,2023-04-13 13:55:04,Innovation Lab - 125 Western Ave at Batten Way,A32011,Soldiers Field Park - 111 Western Ave,A32006,42.363713,-71.124598,42.364263,-71.118276,member,spring,0.324752,2023-04-13
1,BFA8B88E063688F4,docked_bike,2023-04-25 09:44:38,2023-04-25 09:51:28,Museum of Science,M32045,One Broadway / Kendall Sq at Main St / 3rd St,M32003,42.367690,-71.071163,42.362242,-71.083111,member,spring,0.716256,2023-04-25
2,A9C51FA200C31A81,docked_bike,2023-04-24 18:39:31,2023-04-24 18:58:05,New Balance - 20 Guest St,D32001,HMS/HSPH - Avenue Louis Pasteur at Longwood Ave,B32003,42.357329,-71.146735,42.337417,-71.102861,casual,spring,2.627298,2023-04-24
3,0C1D451797FF0871,docked_bike,2023-04-04 19:25:31,2023-04-04 19:32:14,Museum of Science,M32045,Gore Street at Lambert Street,M32081,42.367690,-71.071163,42.373080,-71.086342,member,spring,0.859087,2023-04-04
4,DDDCD0A2D2EE7A37,docked_bike,2023-04-11 08:36:14,2023-04-11 08:52:39,Museum of Science,M32045,Columbus Ave at W. Canton St,C32077,42.367690,-71.071163,42.344742,-71.076482,member,spring,1.607524,2023-04-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313042,4079F85781F2FB07,classic_bike,2023-12-20 08:22:55,2023-12-20 08:41:17,Lesley University,M32039,EF - North Point Park,M32034,42.386748,-71.119019,42.369885,-71.069957,member,winter,2.759976,2023-12-20
1313043,A2411C8176C88993,classic_bike,2023-12-13 08:22:31,2023-12-13 08:39:35,Lesley University,M32039,EF - North Point Park,M32034,42.386748,-71.119019,42.369885,-71.069957,member,winter,2.759976,2023-12-13
1313044,C3D217A504FC1222,classic_bike,2023-12-05 22:10:12,2023-12-05 22:35:39,Congress St at Boston City Hall,D32009,MIT Vassar St,M32042,42.360417,-71.057522,42.355601,-71.103945,casual,winter,2.391759,2023-12-05
1313045,105A4D5A6FB5CE19,classic_bike,2023-12-23 12:16:56,2023-12-23 12:41:35,Lesley University,M32039,MIT Vassar St,M32042,42.386748,-71.119019,42.355601,-71.103945,member,winter,2.283871,2023-12-23
1313046,F55AD190FE0B57EC,electric_bike,2023-12-21 16:14:16,2023-12-21 16:36:19,Lesley University,M32039,Riverway at Brookline Ave,A32056,42.386466,-71.119073,42.336610,-71.110047,member,winter,3.472998,2023-12-21

In [19]:
temp_data

      Apr   Jul   Oct   Dec
Day
1      52  67.5  60.5  47.0
2      45  71.5  63.0  46.5
3    41.5  71.0  68.0  44.0
4    48.5  68.5  69.0  43.5
5      44  75.5  67.5  37.0
6    47.5  79.5  65.0  30.0
7    48.5  78.5  62.0  27.5
8    42.5  72.5  58.5  34.5
9      42  72.5  55.0  42.5
10     49  69.0  57.0  53.0
11   61.5  76.5  59.5  50.5
12     62  81.5  62.0  39.0
13   68.5  80.0  55.5  38.5
14     66  75.0  55.5  32.0
15     52  78.5  55.5  44.0
16   51.5  76.0  54.0  45.5
17     50  82.0  55.0  48.0
18     54  78.5  56.0  54.0
19   47.5  79.0  59.0  41.5
20     50  74.5  57.0  37.0
21     48  69.5  58.0  30.0
22     48  71.0  53.0  29.0
23     50  77.5  54.5  33.0
24   51.5  77.5  53.5  41.0
25   51.5  77.0  64.5  43.5
26     49  77.5  69.5  43.0
27   50.5  81.0  70.0  47.0
28   50.5  82.5  70.5  43.5
29     50  75.0  54.0  43.0
30   51.5  70.0  49.5  40.5
31      -  72.0  45.0  37.0

In [20]:
import numpy as np
import calendar

# Reshape data from wide to long 
temp_df = temp_data.stack().reset_index()
temp_df.columns = ['Day', 'Month', 'AvgTemp']

month_to_number = {'Apr': 4, 'Jul': 7, 'Oct': 10, 'Dec': 12}

temp_df['Day'] = temp_df['Day'].astype(int)

# Map month to number
temp_df['Month'] = temp_df['Month'].map(month_to_number)

# Filter out invalid days for each month
temp_df = temp_df[temp_df.apply(lambda x: x['Day'] <= calendar.monthrange(2023, x['Month'])[1], axis=1)]

# Create dataframe to convert date
date_df = temp_df[['Day', 'Month']].assign(Year=2023)

# convert day and month to datetime column
temp_df['date'] = pd.to_datetime(date_df.rename(columns={'Day': 'day', 'Month': 'month'}))

# Drop day and month columns
temp_df = temp_df.drop(columns = ['Day', 'Month'])

temp_df

    AvgTemp       date
0        52 2023-04-01
1      67.5 2023-07-01
2      60.5 2023-10-01
3      47.0 2023-12-01
4        45 2023-04-02
..      ...        ...
118    49.5 2023-10-30
119    40.5 2023-12-30
121    72.0 2023-07-31
122    45.0 2023-10-31
123    37.0 2023-12-31

[123 rows x 2 columns]

In [22]:
# Merge temperature data on date column
merged_df = pd.merge(bike_trips, temp_df, on='date', how='left')

merged_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,season,trip_distance,date,AvgTemp
0,0093AA5E7E3E0158,docked_bike,2023-04-13 13:49:59,2023-04-13 13:55:04,Innovation Lab - 125 Western Ave at Batten Way,A32011,Soldiers Field Park - 111 Western Ave,A32006,42.363713,-71.124598,42.364263,-71.118276,member,spring,0.324752,2023-04-13,68.5
1,BFA8B88E063688F4,docked_bike,2023-04-25 09:44:38,2023-04-25 09:51:28,Museum of Science,M32045,One Broadway / Kendall Sq at Main St / 3rd St,M32003,42.367690,-71.071163,42.362242,-71.083111,member,spring,0.716256,2023-04-25,51.5
2,A9C51FA200C31A81,docked_bike,2023-04-24 18:39:31,2023-04-24 18:58:05,New Balance - 20 Guest St,D32001,HMS/HSPH - Avenue Louis Pasteur at Longwood Ave,B32003,42.357329,-71.146735,42.337417,-71.102861,casual,spring,2.627298,2023-04-24,51.5
3,0C1D451797FF0871,docked_bike,2023-04-04 19:25:31,2023-04-04 19:32:14,Museum of Science,M32045,Gore Street at Lambert Street,M32081,42.367690,-71.071163,42.373080,-71.086342,member,spring,0.859087,2023-04-04,48.5
4,DDDCD0A2D2EE7A37,docked_bike,2023-04-11 08:36:14,2023-04-11 08:52:39,Museum of Science,M32045,Columbus Ave at W. Canton St,C32077,42.367690,-71.071163,42.344742,-71.076482,member,spring,1.607524,2023-04-11,61.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305696,4079F85781F2FB07,classic_bike,2023-12-20 08:22:55,2023-12-20 08:41:17,Lesley University,M32039,EF - North Point Park,M32034,42.386748,-71.119019,42.369885,-71.069957,member,winter,2.759976,2023-12-20,37.0
1305697,A2411C8176C88993,classic_bike,2023-12-13 08:22:31,2023-12-13 08:39:35,Lesley University,M32039,EF - North Point Park,M32034,42.386748,-71.119019,42.369885,-71.069957,member,winter,2.759976,2023-12-13,38.5
1305698,C3D217A504FC1222,classic_bike,2023-12-05 22:10:12,2023-12-05 22:35:39,Congress St at Boston City Hall,D32009,MIT Vassar St,M32042,42.360417,-71.057522,42.355601,-71.103945,casual,winter,2.391759,2023-12-05,37.0
1305699,105A4D5A6FB5CE19,classic_bike,2023-12-23 12:16:56,2023-12-23 12:41:35,Lesley University,M32039,MIT Vassar St,M32042,42.386748,-71.119019,42.355601,-71.103945,member,winter,2.283871,2023-12-23,33.0
1305700,F55AD190FE0B57EC,electric_bike,2023-12-21 16:14:16,2023-12-21 16:36:19,Lesley University,M32039,Riverway at Brookline Ave,A32056,42.386466,-71.119073,42.336610,-71.110047,member,winter,3.472998,2023-12-21,30.0

In [23]:
merged_df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
season                0
trip_distance         0
date                  0
AvgTemp               0
dtype: int64

In [26]:
merged_df.to_csv("../Data/complete_trips_data_2023.csv")